#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  margin-left: 50px;  
}

/*nav bar adjust*/
.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 10px;
}

.nav-links a {
  color: #007BFF;
  text-decoration: none;
}

.nav-links a:hover {
  color: #0056b3;
}